/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
  margin:1%;
  background-color:#d5f5ec;
}

h1{
  border:2px solid;
  text-align:center;
  padding:1%;
  margin:1% 0%;
  font-size: 200%;
}

nav{
  display:flex;
  justify-content:center;
  padding:1%;
  margin:1% 0%;
  background-color:#87f5e4;
}

nav a{
  text-decoration:none;
  padding:1% 1% 1% 1%;
  border:2px solid;
  margin:0% 3% 0% 3%;
  color:white;
  border-radius:10%;
}
.Home{
  color:#bca1ed;
}
.About{
  color:#018f26;
}
.Contact{
  color:#8f0101;
}
.Project{
  color:#d1a402;
}
.Home:hover{
  color:white;
  background-color:#5b00ff;
}
.About:hover{
  color:white;
  background-color:#05ff46;
}
.Contact:hover{
  color:white;
  background-color:#ff0000;
}
.Project:hover{
  color:white;
  background-color:#ffc800;
}

.intro{
  text-align:center;
  width:80%;
  margin:2% 1% 2% 5%;
  padding:5%;
  font-size:140%;
  border:2px solid;
  background-color:#64b094;
  color:white;
}
.intro p{
  line-height:1.5;
}

.project{
  display:flex;
  flex-wrap:wrap;
  margin:3% 2% 4% 5%;
  justify-content:space-around;
}
.work{
  border:2px solid;
  text-align:center;
  background-color:#8ccfcd;
}

.project-pic:hover{
  border:1px dashed;
}
.project-title{
  border:2px solid;
  padding:2%;
  background-color:#036b68;
  color:white;
}
.work-header{
  font-size:150%;
}

.show-all{
  border:2px solid;
  margin:3% 3% 3% 44%;
  padding:3%;
  width:10%;
  background-color:#aef2f0;
}

.show-all a{
  text-decoration:none;
  color:#767a7a;
  font-size:120%;
}

.show-all a:hover{
  font-size:130%;
  color:white;
}
.show-all:hover{
  background-color:#184040;
  border:3px dashed;
}

.contact{
  text-align:center;
  line-height:2.5;
}

.contact h2{
  font-size:150%;
}
.contact p{
  font-size:120%;
  padding:2%;
}
footer a{
  font-size:120%;
  text-decoration:none;
  border:2px solid;
  color:gray;
  padding:2%;
  margin:2% 2% 2% 2%;
}
footer{
  margin:5%;
}
footer a:hover{
    color:black;
  }

  @media screen and (max-width: 800px) {
    body{
      background-color:#67c9ba;
    }
    
    nav{
      justify-content:space-between;
    }
    nav a{
      padding:3%;
      background-color:white;
      font-size:125%;
    }
    .intro p{
      line-height:2.0;
      letter-spacing:.2rem;
    }
    .work{
      background-color:#6bd1ce;
      color:white;
    }
    .project{
      padding-top:5%;
    }
    .project-title{
      font-size:135%;
    }
    .show-all a{
      font-size:135%;
      color:#0062ff;
    }
    footer a{
      font-size:135%;
      color:#0062ff;
    }
  }
  
  @media screen and (max-width: 500px) {
    body{
      background-color:#6bd19b;
    }
    nav{
      flex-direction:column;
      text-align:center;
    }
    nav a{
      border-radius:0%;
      font-size:135%;
    }
  }
